[submodule "credit_assignment/QPD-ICML20/code"]
	path = credit_assignment/QPD-ICML20/code
	url = git@github.com:QPD-NeurIPS2019/QPD.git
[submodule "credit_assignment/Qatten/code"]
	path = credit_assignment/Qatten/code
	url = git@github.com:qattenaaai22/Qatten.git